<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleDevelopmentRegion</key>
  <string>English</string>
  <key>CFBundleDisplayName</key>
  <string>Quip Native</string>
  <key>CFBundleExecutable</key>
  <string>QuipNativeIME</string>
  <key>CFBundleIconFile</key>
  <string>Quip.icns</string>
  <key>CFBundleIdentifier</key>
  <string>com.hackthe6ix.inputmethod.QuipSwift</string>
  <key>CFBundleInfoDictionaryVersion</key>
  <string>6.0</string>
  <key>CFBundleName</key>
  <string>Quip Native</string>
  <key>CFBundlePackageType</key>
  <string>APPL</string>
  <key>CFBundleShortVersionString</key>
  <string>0.1.5</string>
  <key>CFBundleVersion</key>
  <string>6</string>
  <key>ComponentInputModeDict</key>
  <dict>
    <key>tsInputModeListKey</key>
    <dict>
      <key>com.hackthe6ix.inputmethod.QuipSwift.en</key>
      <dict>
        <key>TISInputSourceID</key>
        <string>com.hackthe6ix.inputmethod.QuipSwift.en</string>
        <key>TISIntendedLanguage</key>
        <string>en</string>
        <key>tsInputModeAlternateMenuIconFileKey</key>
        <string>Quip.icns</string>
        <key>tsInputModeDefaultStateKey</key>
        <true/>
        <key>tsInputModeIsVisibleKey</key>
        <true/>
        <key>tsInputModeMenuIconFileKey</key>
        <string>Quip.icns</string>
        <key>tsInputModePaletteIconFileKey</key>
        <string>Quip.icns</string>
        <key>tsInputModePrimaryInScriptKey</key>
        <true/>
        <key>tsInputModeScriptKey</key>
        <string>smRoman</string>
      </dict>
    </dict>
    <key>tsVisibleInputModeOrderedArrayKey</key>
    <array>
      <string>com.hackthe6ix.inputmethod.QuipSwift.en</string>
    </array>
  </dict>
  <key>InputMethodConnectionName</key>
  <string>com.hackthe6ix.inputmethod.QuipSwift_Connection</string>
  <key>InputMethodServerControllerClass</key>
  <string>QuipNativeIME.QuipNativeInputController</string>
  <key>LSBackgroundOnly</key>
  <true/>
  <key>NSPrincipalClass</key>
  <string>QuipNativeIME.NSManualApplication</string>
  <key>TISInputSourceID</key>
  <string>com.hackthe6ix.inputmethod.QuipSwift</string>
  <key>TISIntendedLanguage</key>
  <string>en</string>
  <key>tsInputMethodCharacterRepertoireKey</key>
  <array>
    <string>Latn</string>
  </array>
  <key>tsInputMethodIconFileKey</key>
  <string>Quip.icns</string>
</dict>
</plist>
